anywidget==0.9.13
asttokens==2.4.1
babel==2.16.0
comm==0.2.2
commonmark==0.9.1
databackend==0.0.3
decorator==5.1.1
duckdb==1.1.1
executing==2.1.0
great-tables==0.12.0
htmltools==0.5.3
importlib_metadata==8.5.0
importlib_resources==6.4.5
ipyreact==0.4.2
ipython==8.28.0
ipywidgets==8.1.5
jedi==0.19.1
jupyterlab_widgets==3.0.13
matplotlib-inline==0.1.7
numpy==2.1.1
packaging==24.1
palmerpenguins==0.1.4
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
polars==1.9.0
prompt_toolkit==3.0.48
psygnal==0.11.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==17.0.0
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2024.2
reactable==0.1.1
setuptools==75.1.0
six==1.16.0
stack-data==0.6.3
traitlets==5.14.3
typing_extensions==4.12.2
tzdata==2024.2
wcwidth==0.2.13
wheel==0.44.0
widgetsnbextension==4.0.13
zipp==3.20.2
